.tablinks {
float: left;
background-color: inherit;
color: black;
padding: 30px;
width: 33.3%;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
}

div.ed1{
    float: left;
    width: 70%;
    background-color: skyblue;
    padding: 20px;
    font-family: "monaco", monospace;
}

div.ed2{
   float: right;
   height: 200px;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}