body {padding : 0; margin: 0;}
div.divMain{
    position:absolute; 
    top: 80px;
    left: 0px;
    align-items: left;
}
button.relative{
    position: relative;
    left: 20px;
    top: 10px;
    padding: 5px 8px;
    margin: 5px 5px;
    border-radius: 5px;
}
button.relative:hover{
    border: 2px solid #18d818;
    border-radius: 8px;
}
button.relative:active{
    color: red;
    background-color: palegreen;
}
div.obj{
    position: relative;
    height: 300px;
    width: 280px;
    left: 20px;
}
button.obj{
    position: relative;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
p.objhead{
    text-align: center;
    background-color: #360559;
    color: white;
    border: 2px;
    border-radius: 5px;
    font-size: 18px;
}
p.gL{
    border-inline-start: solid; 
    border-inline-color: rgb(7, 236, 7);
    text-align:center;
    font-size: 16px;
}
div.rEL{
    position:relative;
    left: 1120px;
    width: 250px;
    height: 500px;
    top:50px; 
    margin: 2px;             
}
p.lrEL{
    text-align: center;
    border-inline-start: solid;
    border-inline-color: rgb(7,236,7);
}